{% extends 'backoffice_layout.html.twig' %}

{% block content %}
<section class="section">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
                <div class="form_errors">{{ form_errors(form) }}</div>
                {{ form_start(form, {'attr': { 'class': 'product'} }) }}
                <div class="row mb-3">
                    <div class="col-sm-10">

                        <div class="form-floating mb-3 mt-3">
                            {{ form_widget(form.name) }}
                            <label for="floatingName">{{ "backoffice.product.name"|trans }}</label>
                        </div> 
                        
                        <div class="form-floating mb-3 mt-3">
                            {{ form_widget(form.description) }}
                            <label for="floatingDescription">{{ "backoffice.product.description"|trans }}</label>
                        </div> 

                         <div class="form-floating mb-3 mt-3">
                            {{ form_widget(form.price) }}
                            <label for="floatingPrice">{{ "backoffice.product.price"|trans }}</label>
                        </div> 

                        <div class="row mb-3">
                            <div class="col-sm-3">
                                {{ form_widget(form.save) }}
                            </div>
                            <div class="col-sm-5">
                                {{ form_widget(form.cancel) }}
                            </div>
                        </div>

                    </div> 
                </div>          
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
